on:
  workflow_call:
    secrets:
      githubToken:
        description: GitHub Token
        required: true

name: Publish Jar

jobs:
  scala:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          java-package: 'jre'
          distribution: 'temurin'
          cache: 'sbt'
      - run: sbt +test
      - run: sbt +assembly
      - run: sbt +publish
        env:
          GITHUB_TOKEN: ${{ secrets.githubToken }}
